@import "@hackernoon/pixel-icon-library/fonts/iconfont.css";
@import "@fontsource-variable/lexend";
@import "tailwindcss";


@plugin "daisyui/theme" {
  name: "bismuth";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(37.45% 0.189 325.02);
  --color-primary-content: oklch(87.49% 0.037 325.02);
  --color-secondary: oklch(53.92% 0.162 241.36);
  --color-secondary-content: oklch(90.784% 0.032 241.36);
  --color-accent: #F160B0;
  --color-accent-content: oklch(15.196% 0.04 56.72);
  --color-neutral: oklch(27.807% 0.029 256.847);
  --color-neutral-content: oklch(85.561% 0.005 256.847);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui" {
  themes: bismuth;
  logs: true;
}